OPENROUTER_API_KEY=sk-or-v1-joemama

OPENROUTER_MODEL=nvidia/nemotron-3-ultra-550b-a55b:free
BAD_WORD_REVIEW_INTERVAL_MINUTES=10
BAD_WORD_REVIEW_INTERVAL_MS=600000

APP_MODE=beta

# Log In With SnarkyType

SNARKYTYPE_CLIENT_ID=sl_eed5b014cd3cbe9a158fa202
SNARKYTYPE_CLIENT_SECRET=103cff1f060c888315b11e6fca6ac2beb351307606143e7ff55aacca0876f674